.App {
  font-family: sans-serif;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
button {
  display: inline-block;

  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #45a049;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}

.ReactModal__Overlay {
  background-color: rgba(157, 135, 135, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal content styles */
.ReactModal__Content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  position: relative;
}

/* Close button styles */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 6px;
  color: white;
  background-color: red;
}
.modal-close-button:hover {
  background-color: rgb(122, 67, 67);
}

/* Input styles */
.modal-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button container styles */
.modal-button-container {
  display: flex;
  justify-content: flex-end;
}

/* Button styles */
.modal-submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-submit-button:hover {
  background-color: #0056b3;
}

.Nav {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
}

.Nav:hover {
  background-color: grey;
  color: #fff;
}

.Nav:active {
  background-color: #0056b3;
  color: #fff;
}
.nav {
  text-decoration: none;
}

.HomeContainer a:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.selectedData a:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.selectedData:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
